# Ignore environment variable files
.env.local

# Ignore the distribution folder
dist
uploads

# Ignore node_modules directory
node_modules
.env

# Ignore package lock.json directory
package-lock.json